<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<% provide(:title, 'contact') %>
<body>

<div class="w3-container w3-light-grey" style="padding:128px 16px" id="contact">
  <h3 class="w3-center" text-align:center>LIÊN LẠC</h3>
  <div style="margin-top:48px">
    <p><i class="fa fa-map-marker" aria-hidden="true"></i> VietNam,Japan</p>
    <p><i class="fa fa-phone" aria-hidden="true"></i> Phone: (+81) 03 3447 6278</p>
    <p><i class="fa fa-envelope" aria-hidden="true"></i> Email: contact@rikai.Technology</p>
    <br>
    <form action="/action_page.php" target="_blank">
      <p><input class="w3-input w3-border" type="text" placeholder="Name" required name="Name"></p>
      <p><input class="w3-input w3-border" type="text" placeholder="Email" required name="Email"></p>
      <p><input class="w3-input w3-border" type="text" placeholder="Subject" required name="Subject"></p>
      <p><input class="w3-input w3-border" type="text" placeholder="Message" required name="Message"></p>
      <p>
        <button class="w3-button w3-black" type="submit">
          <i class="fa fa-paper-plane"></i> SEND MESSAGE
        </button>
      </p>
    </form>
  </div>
</div>
</body>
</html>
