
<div class="row">
  <div class="col-4">
    <h2>Phòng họp</h2>
    <h5>Hình ảnh:</h5>
    <img alt="RIKAI-TECHNOLOGY" style="float: left;width: 100%" src="/assets/hop.jpg" />
    <p>Buổi họp đầu tiên giữa các thực tập sinh viên tại Rikai</p>

    <h3>Một số đường dẫn</h3>
    <ul class="nav nav-pills flex-column">
      <li class="nav-item">
        <a class="nav-link active" href="https://www.facebook.com/rikai.technology/" target="_blank">Facebook</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://www.rikai.technology/"target="_blank">Website công ty</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Support</a>
      </li>
    </ul>
    
    <hr>

    <h3>Some Lessions</h3>
    <ul class="nav nav-pills flex-column">
      <% Cour.all.each do |cour| %> 
        <li ><%= link_to cour.name, cour %></li>
      <% end %>
    </ul>

    <hr class="d-sm-none">
  </div>

  <div class="col-8">
    <h2>Công nghệ phát triển tốt</h2>
    <img alt="RIKAI-TECHNOLOGY" style="float: left;width: 100%" src="/assets/logo.png" />
    <p>Đây là những công nghệ mà công ty Rikai phát triển, sử dụng tốt nhất.</p>
    <h3 align="justify">Cơ chế của "Rikai {tech}" giống như cú pháp ủy nhiệm. Khách hàng xử lý kết quả bằng cách ủy thác công nghệ cho Rikai, cũng như xử lý các tương tác không đồng bộ giữa hai tác nhân ngang hàng bằng ngôn ngữ lập trình front-end mạnh mẽ (javascript). Sản xuất. Với mục đích này, RIkai tham gia vào cả hai, nói chuyện và điều chỉnh và trả lại kết quả cho khách hàng. Không ai khác ngoài công nghệ của Rikai để biến sự khác biệt thành sự hiểu biết.</h3>
    <br>
    <h2>Văn phòng Rikai</h2>
    <h5>Rikai technology, July 2, 2019</h5>
    <div class="col-md-13 mb-md-0 mb-3">
      <div class="embed-responsive embed-responsive-16by9 mb-6">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/IZgi52ALeEQ"
          allowfullscreen></iframe>
      </div>
    </div>
    <p>Video giới thiệu về văn phòng Rikai technology.</p>
  </div>
</div>
<hr>
<div class="w3-container" style="padding:5px 16px" id="team">
  <h3 class="w3-center">Team 1</h3>
  <p class="w3-center w3-large">Thực tập sinh tại công ty Rikai Technology.</p>
  <div class="w3-row-padding w3-grayscale" style="margin-top:64px">
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-card">
        <img src="/assets/an.jpg" alt="John" style="width:100%">
        <hr>
        <div class="w3-container">
          <h3>Lê Văn Ân</h3>
          <p class="w3-opacity">Thực tập sinh</p>
          <p>Sinh viên thực tập vị trí Ruby</p>
          <p><button class="w3-button w3-light-grey w3-block"><a class="fa fa-envelope" href="https://www.facebook.com/lean79918030" target="_blank"></i> Liên hệ</a></button></p>
        </div>
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-card">
        <img src="/assets/hue.jpg" alt="Jane" style="width:100%">
        <hr>
        <div class="w3-container">
          <h3>Nguyễn Văn Huệ</h3>
          <p class="w3-opacity">Thực tập sinh</p>
          <p>Sinh viên thực tập vị trí Ruby</p>
          <p><button class="w3-button w3-light-grey w3-block" ><a class="fa fa-envelope" href="https://www.facebook.com/hue.nguyenvan.142" target="_blank"> Liên hệ</a></button></p>
        </div>
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-card">
        <img src="/assets/ngoc.jpg" alt="Mike" style="width:100%">
        <hr>
        <div class="w3-container">
          <h3>Tăng Dương Như Ngọc</h3>
          <p class="w3-opacity">Thực tập sinh</p>
          <p>Sinh viên thực tập vị trí Ruby</p>
          <p><button class="w3-button w3-light-grey w3-block" ><a class="fa fa-envelope" href="https://www.facebook.com/ngoc.nhu.5494360" target="_blank"> Liên hệ</a></button></p>
        </div>
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-card">
        <img src="/assets/duy.jpg" alt="Dan" style="width:100%">
        <hr>
        <div class="w3-container">
          <h3>Nguyễn Hoàng Duy</h3>
          <p class="w3-opacity">Thực tập sinh</p>
          <p>Sinh viên thực tập vị trí Ruby</p>
          <p><button class="w3-button w3-light-grey w3-block"><a class="fa fa-envelope" href="https://www.facebook.com/profile.php?id=100009045307669 " target="_blank"> Liên hệ</a></button></p>
        </div>
      </div>
    </div>
  </div>
</div>
