<!DOCYTYPE html>
<head>
  <!-- Site made with Mobirise Website Builder v4.10.4, https://mobirise.com -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="Mobirise v4.10.4, mobirise.com">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="assets/images/logo-107x100.png" type="image/x-icon">
  <meta name="description" content="Thông tin công ty">
  <title>Công ty</title>
  <link rel="stylesheet" href="assets/web/assets/mobirise-icons/mobirise-icons.css">
  <link rel="stylesheet" href="assets/tether/tether.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="assets/dropdown/css/style.css">
  <link rel="stylesheet" href="assets/animatecss/animate.min.css">
  <link rel="stylesheet" href="assets/datatables/data-tables.bootstrap4.min.css">
  <link rel="stylesheet" href="assets/socicon/css/styles.css">
  <link rel="stylesheet" href="assets/theme/css/style.css">
  <link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">
<link type="text/css" rel="stylesheet" charset="UTF-8" href="https://translate.googleapis.com/translate_static/css/translateelement.css"></head>
<section class="section-table cid-rgOBikhnKz" id="table1-2p">

  
  
  <div class="container container-table">
      <h2 class="mbr-section-title mbr-fonts-style align-center pb-3 display-2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Hồ sơ công ty</font></font></h2>
      
      <div class="table-wrapper">
        <div class="container">
          
        </div>

        <div class="container">
          <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer"><div class="dataTables_scroll"><div class="dataTables_scrollHead" style="overflow: hidden; position: relative; border: 0px; width: 100%;"><div class="dataTables_scrollHeadInner" style="box-sizing: content-box; width: 1080px; padding-right: 0px;"><table class="table dataTable no-footer" cellspacing="0" role="grid" style="margin-left: 0px; width: 1080px;"><thead>
              <tr class="table-heads " role="row"><th class="head-item mbr-fonts-style display-7 sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 89px;" aria-label="
                      Tên công ty: kích hoạt để sắp xếp cột tăng dần"><span style="font-weight: normal;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                      Tên công ty</font></font></span></th><th class="head-item mbr-fonts-style display-7 sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 905px;" aria-label="Công ty TNHH Công nghệ Rikai: kích hoạt để sắp xếp cột tăng dần"><span style="font-weight: normal;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Công ty TNHH Công nghệ Rikai</font></font></span></th></tr>
            </thead></table></div></div><div class="dataTables_scrollBody" style="position: relative; overflow: auto; width: 100%;"><table class="table dataTable no-footer" cellspacing="0" id="DataTables_Table_0" role="grid" style="width: 1078px;"><thead>
              <tr class="table-heads " role="row" style="height: 0px;"><th class="head-item mbr-fonts-style display-7 sorting" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 89px; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;" aria-label="
                      Tên công ty: kích hoạt để sắp xếp cột tăng dần"><div class="dataTables_sizing" style="height:0;overflow:hidden;"><span style="font-weight: normal;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                      Tên công ty</font></font></span></div></th><th class="head-item mbr-fonts-style display-7 sorting" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 905px; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;" aria-label="Công ty TNHH Công nghệ Rikai: kích hoạt để sắp xếp cột tăng dần"><div class="dataTables_sizing" style="height:0;overflow:hidden;"><span style="font-weight: normal;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Công ty TNHH Công nghệ Rikai</font></font></span></div></th></tr>
            </thead>
            

            <tbody>
              
              
              
              
            <tr role="row" class="odd"> 
                
                
                
                
              <td class="body-item mbr-fonts-style display-7"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Địa điểm</font></font></td><td class="body-item mbr-fonts-style display-7"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">[Thành phố Hồ Chí Minh tổng hành dinh] </font></font><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">NFV Building, 27A, Hoàng Việt, No4 Phường, quận Tân Bình, thành phố Hồ Chí Minh, Việt Nam </font></font><br><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">[Hà Nội] &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </font></font><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">608 Toyota Tòa nhà Mỹ Đình, 15 Phạm Hùng, huyện Mỹ Đình, Hà Nội, Việt Nam </font></font><br><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">[ [Đà Nẵng] &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </font></font><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Không gian IoT, 63 Phan Dang Lưu, thành phố Đà Nẵng, Việt Nam </font></font><br><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">[Tokyo] &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </font></font><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">5-12 Kitashinagawa, Shinagawa-ku, Tòa nhà Tokyo Reed Sea Gotenyama</font></font></td></tr><tr role="row" class="even">
                
                
                
                
              <td class="body-item mbr-fonts-style display-7"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Cơ cấu điều hành</font></font></td><td class="body-item mbr-fonts-style display-7"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Chủ tịch và Giám đốc điều hành　</font></font><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">DINH QUOC HUNG ( </font></font><br><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Chủ tịch </font><font style="vertical-align: inherit;">) </font><font style="vertical-align: inherit;">Giám đốc và Chủ tịch &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </font></font><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">DOAN HAI BANG (Duan Haibang) </font></font><br><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Hội đồng quản trị &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </font></font><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">BUI SY NGUYEN (Buishi Qi Qian)</font></font></td></tr><tr role="row" class="odd">
                
                
                
                
              <td class="body-item mbr-fonts-style display-7"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Thủ đô</font></font></td><td class="body-item mbr-fonts-style display-7"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">200.000 USD</font></font></td></tr><tr role="row" class="even">
                
                
                
                
              <td class="body-item mbr-fonts-style display-7"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">URL</font></font></td><td class="body-item mbr-fonts-style display-7"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">https://rikai.technology</font></font></td></tr></tbody>
          </table></div></div></div>
        </div>
        <div class="container table-info-container">
          
        </div>
      </div>
    </div>
    <section class="section-table cid-rgOBmwBCnG" id="table1-2q">

  
  
  <div class="container container-table">
      <h2 class="mbr-section-title mbr-fonts-style align-center pb-3 display-2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Công ty liên kết</font></font></h2>
      
      <div class="table-wrapper">
        <div class="container">
          
        </div>

        <div class="container">
          <div id="DataTables_Table_1_wrapper" class="dataTables_wrapper no-footer"><div class="dataTables_scroll"><div class="dataTables_scrollHead" style="overflow: hidden; position: relative; border: 0px; width: 100%;"><div class="dataTables_scrollHeadInner" style="box-sizing: content-box; width: 1080px; padding-right: 0px;"><table class="table dataTable no-footer" cellspacing="0" role="grid" style="margin-left: 0px; width: 1080px;"><thead>
              <tr class="table-heads " role="row"><th class="head-item mbr-fonts-style display-7 sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" style="width: 251px;" aria-label="
                      Tên công ty: kích hoạt để sắp xếp cột tăng dần"><span style="font-weight: normal;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                      Tên công ty</font></font></span></th><th class="head-item mbr-fonts-style display-7 sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" style="width: 743px;" aria-label="Japan F &amp; B Co., Ltd .: Kích hoạt để sắp xếp cột tăng dần"><span style="font-weight: normal;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Tập đoàn F &amp; B Nhật Bản</font></font></span></th></tr>
            </thead></table></div></div><div class="dataTables_scrollBody" style="position: relative; overflow: auto; width: 100%;"><table class="table dataTable no-footer" cellspacing="0" id="DataTables_Table_1" role="grid" style="width: 1078px;"><thead>
              <tr class="table-heads " role="row" style="height: 0px;"><th class="head-item mbr-fonts-style display-7 sorting" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" style="width: 251px; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;" aria-label="
                      Tên công ty: kích hoạt để sắp xếp cột tăng dần"><div class="dataTables_sizing" style="height:0;overflow:hidden;"><span style="font-weight: normal;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                      Tên công ty</font></font></span></div></th><th class="head-item mbr-fonts-style display-7 sorting" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" style="width: 743px; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;" aria-label="Japan F &amp; B Co., Ltd .: Kích hoạt để sắp xếp cột tăng dần"><div class="dataTables_sizing" style="height:0;overflow:hidden;"><span style="font-weight: normal;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Tập đoàn F &amp; B Nhật Bản</font></font></span></div></th></tr>
            </thead>
            

            <tbody>
              
              
              
              
            <tr role="row" class="odd"> 
                
                
                
                
              <td class="body-item mbr-fonts-style display-7"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Địa điểm</font></font></td><td class="body-item mbr-fonts-style display-7"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Tokyo Shinagawa-ku Kitashinagawa 5-chome 12 Số 4 Tòa nhà Reed Sea Gotenyama</font></font></td></tr><tr role="row" class="even">
                
                
                
                
              <td class="body-item mbr-fonts-style display-7"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Cơ cấu điều hành</font></font></td><td class="body-item mbr-fonts-style display-7"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Chủ tịch và Giám đốc điều hành　</font></font><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">DOAN HAI BANG (Bang)</font></font><br></td></tr><tr role="row" class="odd">
                
                
                
                
              <td class="body-item mbr-fonts-style display-7"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Thủ đô</font></font></td><td class="body-item mbr-fonts-style display-7"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">5.000.000 yên</font></font></td></tr><tr role="row" class="even">
                
                
                
                
              <td class="body-item mbr-fonts-style display-7"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">URL</font></font></td><td class="body-item mbr-fonts-style display-7"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">https://japanfnb.com</font></font></td></tr><tr role="row" class="odd">
                
                
                
                
              <td class="body-item mbr-fonts-style display-7"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Điện thoại</font></font></td><td class="body-item mbr-fonts-style display-7"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">(03) 3447 6278</font></font></td></tr><tr role="row" class="even">
                
                
                
                
              <td class="body-item mbr-fonts-style display-7"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Cố vấn thuế / cố vấn lao động</font></font></td><td class="body-item mbr-fonts-style display-7"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Văn phòng tổng hợp Atlas</font></font></td></tr><tr role="row" class="odd">
                
                
                
                
              <td class="body-item mbr-fonts-style display-7"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ngân hàng đại lý</font></font></td><td class="body-item mbr-fonts-style display-7"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Tập đoàn ngân hàng Sumitomo Mitsui</font></font></td></tr></tbody>
          </table></div></div></div>
        </div>
        <div class="container table-info-container">
          
        </div>
      </div>
    </div>
</section>
</section>
