
<% provide(:button_text, 'Chỉnh sửa thông tin') %>

<h1 align="center">Edit User</h1>

<div class="container">
  <form>
    <%= render 'form' %>
    <h4>
    <% if current_user.admin %>
        <%= link_to 'Quay lại trang admin', admin_path %>
      <% else %>
        <%= link_to 'Quay lại trang chủ', @user %>
      <% end %>
    </h4>
  </form>
</div>


