

<% provide(:button_text, 'Tạo tài khoản') %>

<h1 align="center">Đăng ký tài khoản</h1>
<div class="container">
		<%= render 'form' %>
		<h4><%= link_to "Quay lại trang admin", admin_path %></h4>
</div>


